[submodule "vendor/twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/almost-monokai"]
	path = vendor/almost-monokai
	url = git://github.com/lut4rp/almost-monokai.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/rails-reloaded"]
	path = vendor/rails-reloaded
	url = git://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://git.boinkor.net/slime.git
[submodule "vendor/swank-clojure"]
	path = vendor/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/mo-git-blame"]
	path = vendor/mo-git-blame
	url = git://git.bunkus.org/mo-git-blame.git
[submodule "vendor/smart-tab"]
	path = vendor/smart-tab
	url = git://github.com/haxney/smart-tab.git
