[submodule "vendor/scala-mode2"]
	path = vendor/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "vendor/popwin"]
	path = vendor/popwin
	url = https://github.com/m2ym/popwin-el.git
